<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/global.css">
    <title>League of Legends</title>

  </head>

  <body>
    <div class="container">

      <div class="logo">
        <img src="../static/assets/icon.svg" alt="League of legends Logo">
      </div>

      <section class="section-heros">

        <div class="herois">

          {% for heroi in herois %}

          <div class="card-heroi">
            <img src="{{caminhoImagem}}{{heroi.nome}}_0.jpg" alt="">
          </div>

          <div class="nome">{{heroi.nome}}</div>
          
          <div class="info">
            <p>{{heroi.texto}}</p>
          </div>

          {% endfor %}

        </div>

      </section>

      <section class="">

      </section>

    </div>

  </body>

</html>