*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.25%;
}

body {
    font-family: 'Roboto';
    font-size: 1.6rem;

    background: url(_images/bg.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed
}

.container {
    position: relative;
}

.title {
    position: absolute;
    margin-top: 3rem;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    
    text-transform: uppercase;
    font-family:'Roboto',Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
    font-weight: 500;
}

.title p {
    font-family:'Vollkorn+SC';
    padding: 2rem;
    font-size: 10rem;
    font-weight: bolder;
    letter-spacing: .5rem;
}


.flex {
    display:flex;
    justify-content: center;      
}

.character-one {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    position: absolute;
    align-items: center;
    margin-top: 16%;
    margin-right: 70%;

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;

    /* border-radius: 1rem; */
}
.character-one:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrapper-ahri {
    width: 30rem;
    height: 18rem;
    
    background: url(_images/ahri.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.ahri-name {
    width: 30rem;
    height: 4rem;

    text-align: center;
    
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);
}

.ahri-name p {
    padding: 2rem;
    color: whitesmoke;

    color: whitesmoke;

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-weight: bolder;
    letter-spacing: .2rem;
}

.card-info-ahri{
    letter-spacing: .1rem;
    opacity: 0;
    transition: all .3s ;

}

.card-info-ahri  p{
    padding: 3rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.card-info-ahri:hover {
    opacity: 1;
}

.character-two {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    position: absolute;
    align-items: center;
    margin-top: 16%;
    margin-right: -0%;  

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;

}

.character-two:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrapper-braum {
    width: 30rem;
    height: 18rem;
    
    background: url(_images/braum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.braum-name {
    width: 30rem;
    height: 4rem;

    text-align: center;
    
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);
}

.braum-name p {
    padding: 2rem;
    color: whitesmoke;

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-weight: bolder;
    letter-spacing: .2rem;
}

.card-info-braum {
    letter-spacing: .1rem;
    opacity: 0;
    transition: all .3s ;
}

.card-info-braum  p{
    padding: 3rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.card-info-braum:hover {
    opacity: 1;
}

.character-three {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    position: absolute;
    align-items: center;
    margin-top: 16%;
    margin-right: -70%;  

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;
}

.character-three:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrapper-aurelion {
    width: 30rem;
    height: 18rem;
    
    background: url(_images/Aurelion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.aurelion-name {
    width: 30rem;
    height: 4rem;

    text-align: center;
    
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);
}

.aurelion-name p {
    padding: 2rem;
    color: whitesmoke;

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-weight: bolder;
    letter-spacing: .2rem;
}

.card-info-aurelion {
    letter-spacing: .1rem;
    opacity: 0;
    transition: all .3s ;
}

.card-info-aurelion p {
    padding: 3rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.card-info-aurelion:hover {
    opacity: 1;
}

.character-four {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    position: absolute;
    align-items: center;
    margin-top: 45%;
    margin-right: 70%; 

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5
}

.character-four:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrapper-fizz {
    width: 30rem;
    height: 18rem;
    
    background: url(_images/Fizz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.fizz-name {
    width: 30rem;
    height: 4rem;

    text-align: center;
    
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);
}

.fizz-name p {
    padding: 2rem;
    color: whitesmoke;

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-weight: bolder;
    letter-spacing: .2rem;
}

.card-info-fizz {
    letter-spacing: .1rem;
    opacity: 0;
    transition: all .3s ;
}

.card-info-fizz p {
    padding: 3rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.card-info-fizz:hover {
    opacity: 1;
}

.character-five {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    position: absolute;
    align-items: center;
    margin-top: 45%;
    margin-right: -70%; 

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5
}

.character-five:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrapper-anivia {
    width: 30rem;
    height: 18rem;
    
    background: url(_images/anivia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.anivia-name {
    width: 30rem;
    height: 4rem;

    text-align: center;
    
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);
}

.anivia-name p {
    padding: 2rem;
    color: whitesmoke;

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-weight: bolder;
    letter-spacing: .2rem;
}

.card-info-anivia {
    letter-spacing: .1rem;
    opacity: 0;
    transition: all .3s ;
}

.card-info-anivia p {
    padding: 3rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.card-info-anivia:hover {
    opacity: 1;
}

.character-six {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    position: absolute;
    align-items: center;
    margin-top: 45%;


    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5
}

.character-six:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrapper-heimer {
    width: 30rem;
    height: 18rem;
    
    background: url(_images/Heimerdinger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.heimer-name {
    width: 30rem;
    height: 4rem;

    text-align: center;
    
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);
}

.heimer-name p {
    padding: 2rem;
    color: whitesmoke;

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-weight: bolder;
    letter-spacing: .2rem;
}

.card-info-heimer {
    letter-spacing: .1rem;
    opacity: 0;
    transition: all .3s ;
}

.card-info-heimer p {
    padding: 3rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.card-info-heimer:hover {
    opacity: 1;
}

.wrapper-button {
    width: 20rem;
    height: 10rem;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;
    align-items: center;
    margin-top: 75%;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.wrapper-button button {
    width: 20rem;
    height: 10rem;
    
    background: rgba(0, 0, 0, .7);
    border: none;
    border-radius: 1rem;

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s 
}

.wrapper-button button p {
    color: whitesmoke;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 2rem;

}

.wrapper-button:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

