.first-selector {
  -moz-transform: scale(1.13);
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}

.second-selector {
  -moz-transform: scale(1.13);
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}

.selector-props {
  font-family: 'Roboto';
  font-size: 1.3em;
  color: whitesmoke;

  opacity: 0;
  transition: all 1s ;
  
}

.selector-button {
  -moz-transform: scale(1.13);
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}