.one {
    width: 17vw;  
    margin-top: 15%;
}

.ahri img {
    width: 17vw;
    height: 21.5vh;

    border-radius: .3rem;
}

.name .ahri p {
    width:16.9vw ;
    height: 2.5rem;
}

.two {
    width: 17.5vw;
    margin-top: 15%;
}

.braum img {
    width: 17.5vw;
    height: 21.5vh;

    border-radius: .3rem;
}

.name .braum p {
    width:17.5vw ;
    height: 2.5rem;
}

.three {
    width: 17.5vw;
    margin-top: 15%;
}

.aurelion img {
    width: 17.5vw;
    height: 21.5vh;

    border-radius: .3rem;
}

.four  {
    width: 17.5vw;
    height: 47.5vh;
    position: relative;
}

.fizz img {
    width: 17.5vw;
    height: 21.5vh;

    border-radius: .3rem;
}

.name .fizz p {
    width:17.5vw ;
    height: 2.5rem;
}

.five  {
    width: 17.5vw;
    height: 47.5vh;
    position: relative;
}

.heim img {
    width: 17.5vw;
    height: 21.5vh;

    border-radius: .3rem;
}

.name .heim p {
    width:17.5vw ;
    height: 2.5rem;
}


.six  {
    width: 17.5vw;
    height: 47.5vh;
    position: relative;
}


.anivia img {
    width: 17.5vw;
    height: 21.5vh;

    border-radius: .3rem;
}

.name .anivia p {
    width:17.5vw ;
    height: 2.5rem;
}