* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.25%;

    background: url(../images/bg.jpg), no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .9;
}

img {
    max-width: 100%;
}

.selector {
    -moz-transform: scale(1.13);
    -webkit-transform: scale(1.13);
    transform: scale(1.13);
}

.container {
    width: 100%;
    height: 100vh;
    /* evita a barra de rolagem */
    /* overflow: hidden; */
    /* permite que elemenetos sejam postos sobre o bg */
    /* também é usado para utilizar as propriedades top, bottom, left,rigth */
    position: relative;
}

.banner {
    /* só funciona dentro de um objeto com position relative */
    position: absolute;
    top: 5%;
    left: 45%;

    color: whitesmoke;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 2em;
    text-transform: uppercase;

}

.banner p {

    position: relative;
    padding: .1em   ;
    right: 25%;
    
    font-family: 'Vollkorn+SC';
    color: whitesmoke;

    font-size: 3em;
}

.flex {
    display: flex;
    justify-content:space-evenly;

    padding: 4rem;
}

.character-one {
    width: 17vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    align-items: center;

    position: relative;
    margin-top: 15%;

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;
    cursor: pointer;
}

.wrapper-ahri {
    
    width: 16.9vw;
    height: 21.5vh;

    background: url(../images/ahri.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.ahri-name {
    width:16.9vw ;
    height: 2.5rem;
    
    text-align: center;
    color: whitesmoke;

    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);

    position: relative;
    
}

.ahri-name p {

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-size: 2em;

    padding: .5em;
}

.card-info-ahri {

    font-family: 'Roboto';
    font-size: 1.3em;
    color: whitesmoke;

    opacity: 0;
    transition: all 1s ;

}

.card-info-ahri:hover{
    opacity: 1;
}

.card-info-ahri p {

    padding: 2em;
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
}

.character-two {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .7);
    border-radius: .5rem;

    align-items: center;

    position: relative;
    margin-top: 15%;
    
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;
    cursor: pointer;
}

.wrapper-braum {
    
    width: 17.5vw;
    height: 21.5vh;

    background: url(../images/braum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.braum-name {
    width:17.5vw ;
    height: 2.5rem;
    
    text-align: center;
    color: whitesmoke;

    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);

    position: relative;
    
}

.braum-name p {

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-size: 2em;

    padding: .5em;
}

.card-info-braum {

    font-family: 'Roboto';
    font-size: 1.3em;
    color: whitesmoke;

    opacity: 0;
    transition: all 1s;
}

.card-info-braum:hover {
    opacity: 1;
}

.card-info-braum p {

    padding: 2em;
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
}

.character-three {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    align-items: center;

    position: relative;
    margin-top: 15%;
    
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;
    cursor: pointer;
}

.wrapper-aurelion {
    
    width: 17.5vw;
    height: 21.5vh;

    background: url(../images/Aurelion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.aurelion-name {
    width:17.5vw ;
    height: 2.5rem;
    
    text-align: center;
    color: whitesmoke;

    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);

    position: relative;
    
}

.aurelion-name p {

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-size: 2em;

    padding: .5em;
}

.card-info-aurelion {

    font-family: 'Roboto';
    font-size: 1.3em;
    color: whitesmoke;

    opacity: 0;
    transition: all 1s;
}

.card-info-aurelion:hover {
    opacity: 1;
}

.card-info-aurelion p {

    padding: 1.2em;
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
}

.character-four  {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    align-items: center;

    position: relative;
    
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;
    cursor: pointer;
}

.wrapper-fizz {
    
    width: 17.5vw;
    height: 21.5vh;

    background: url(../images/Fizz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.fizz-name {
    width:17.5vw ;
    height: 2.5rem;
    
    text-align: center;
    color: whitesmoke;

    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);

    position: relative;
    
}

.fizz-name p {

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-size: 2em;

    padding: .5em;
}

.card-info-fizz {

    font-family: 'Roboto';
    font-size: 1.3em;
    color: whitesmoke;

    opacity: 0;
    transition: all 1s;

}

.card-info-fizz:hover {
    opacity: 1;
}

.card-info-fizz p {

    padding: 2em;
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
}

.character-five  {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    align-items: center;

    position: relative;
    
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;
    cursor: pointer;
}


.wrapper-heim {
    
    width: 17.5vw;
    height: 21.5vh;

    background: url(../images/Heimerdinger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.heim-name {
    width:17.5vw ;
    height: 2.5rem;
    
    text-align: center;
    color: whitesmoke;

    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);

    position: relative;
    
}

.heim-name p {

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-size: 2em;

    padding: .5em;
}

.card-info-heim {

    font-family: 'Roboto';
    font-size: 1.3em;
    color: whitesmoke;

    opacity: 0;
    transition: all 1s;

}

.card-info-heim:hover {
    opacity: 1;
}

.card-info-heim p {

    padding: 1.7em;
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
}

.character-six  {
    width: 17.5vw;
    height: 47.5vh;

    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;

    align-items: center;

    position: relative;
   
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;
    cursor: pointer;
}

.wrapper-anivia {
    
    width: 17.5vw;
    height: 21.5vh;

    background: url(../images/anivia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .2rem;
}

.anivia-name {
    width:17.5vw ;
    height: 2.5rem;
    
    text-align: center;
    color: whitesmoke;

    text-transform: capitalize;
    background-color: rgba(0, 0, 0, .7);

    position: relative;
    
}

.anivia-name p {

    font-family: 'Vollkorn+SC';
    font-style: italic;
    font-size: 2em;

    padding: .5em;
}

.card-info-anivia {

    font-family: 'Roboto';
    font-size: 1.3em;
    color: whitesmoke;

    opacity: 0;
    transition: all 1s;

}

.card-info-anivia:hover {
    opacity: 1;
}

.card-info-anivia p {

    padding: 1.2em;
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
}

.button-props {
    padding: 4em;
}

.wrapper-object {
    width: 17.5vw;
    height: 5rem;

    text-align: center;
    position: relative;
    left: 41%;

    background: rgba(0, 0, 0, .9);
    border-radius: .5rem;
    border-radius: 1rem;

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5;
}

.wrapper-object button {
    width: 17.5vw;
    height: 5rem;

    background: rgba(0, 0, 0, .7);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.wrapper-object button p {
    color: whitesmoke;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 2rem;

}

@media(max-width: 775px) {
    html {
        font-size: 80%;
    }
}

@media(max-width: 770px) {
    html {
        font-size: 60%;
    }

    .banner {
        margin-left: -2em;
    }
}