<!DOCTYPE html>
<html lang="en">

    <head>

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="stylesheet" href="../static/style.css">
            <link rel="stylesheet" href="../static/fonts.css">
            <title>Calculadora de Danos</title>

    </head>

    <body>
        
        <div class="container">
            <div class="flex">
                <div class="title">
                    escolha seu
                    <p>Campeão</p>
                </div>
                <div class="character-one">
                    <div class="wrapper-ahri">
                        <!-- imagem no css -->
                    </div>
                    <div class="ahri-name">
                        <p>ahri</p>
                    </div>  
                    <div class="card-info-ahri">
                        <p>Com uma conexão inata com o poder
                        latente de Runeterra, Ahri é uma vastaya
                        capaz de transformar magia em orbes de
                        pura energia</p>
                    </div>
                </div>

                <div class="character-two">
                    <div class="wrapper-braum">
                        <!-- imagem no css  -->
                    </div>
                    <div class="braum-name">
                        <p>braum</p>
                    </div>
                    <div class="card-info-braum">
                        <p>Abençoado com bíceps gigantescos e um coração 
                        maior ainda, Braum é um amado herói de Freljord.        
                        Cada salão de hidromel ao norte de Frostheld brinda
                        sua força lendária</p>
                    </div>
                </div>

                <div class="character-three">
                    <div class="wrapper-aurelion">
                        <!-- imagem no css  -->
                    </div>
                    <div class="aurelion-name">
                        <p>aurelion Sol</p>
                    </div>
                    <div class="card-info-aurelion">
                        <p>Aurelion Sol costumava agraciar a vasta imensidão
                        vazia dos cosmos com maravilhas celestiais concebidas
                        por ele mesmo. Agora, ele é forçado a usar seu incrível
                        poder</p>
                    </div>
                </div>

                <div class="character-four">
                    <div class="wrapper-fizz">
                        <!-- imagem no css  -->
                    </div>
                    <div class="fizz-name">
                        <p>fizz</p>
                    </div>
                    <div class="card-info-fizz">
                        <p>Fizz é um yordle anfíbio que vive entre os recifes que
                        rodeiam Águas de Sentina. Mesmo o mais velho dos marinheiros 
                        sabe que não é uma boa ideia irritá-lo.</p>
                    </div>
                </div>

                <div class="character-five">
                    <div class="wrapper-anivia">
                        <!-- imagem no css  -->
                    </div>
                    <div class="anivia-name">
                        <p>anivia</p>
                    </div>
                    <div class="card-info-anivia">
                        <p>Anivia é um espírito alado e benevolente que suporta 
                        infinitos ciclos de vida, morte e renascimento para 
                        proteger Freljord. Uma semideusa nascida de ventos
                        impiedosos e frios brutais</p>
                    </div>
                </div>

                <div class="character-six">
                    <div class="wrapper-heimer">
                        <!-- imagem no css  -->
                    </div>
                    <div class="heimer-name">
                        <p>heimerdinger</p>
                    </div>
                    <div class="card-info-heimer">
                        <p>Um cientista brilhante, mesmo que excêntrico, o
                        Professor Cecil B. Heimerdinger é um dos inventores 
                        mais inovadores e estimados que Piltover já conheceu.</p>
                    </div>
                </div>
                <div class="wrapper-button">
                    <button type="submit">
                        <p>atacar</p>
                    </button>
                </div>  
            </div>
        </div>

    </body>
</html>